.model-details-breadcrumbs {
    display: flex;
    justify-content: center;
    .breadcrumbs {
        z-index: 2;
        li {
            &:before {
                color: rgba(90, 98, 104, 0.7);
            }


            a {
                color: rgba(90, 98, 104, 0.7);
            }
        }
    }

    @media only screen and (min-width: 580px) {
        .breadcrumbs {
            li {
                margin-top: 10px;
            }
        }
    }
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    li {
        margin-right: 15px;
        position: relative;

        &:before {
            content: '/';
            display: block;
            position: absolute;
            right: -10px;
            top: 2px;
            color: rgba(0, 0, 0, 0.6);
        }

        &:last-child {
            margin-right: 0;
            &:before {
                content: '';
            }
        }

        a {
            font-size: 12px;
            font-family: PragmaticaLightC, Helvetica, sans-serif;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.7);
        }
    }

    @media only screen and (min-width: 330px) {
        & {
            li {
                a {
                    //  font-size: 10px;
                }
            }
        }
    }

    @media only screen and (min-width: 580px) {
        & {
            justify-content: flex-start;
        }
    }
}
