@font-face {
    font-family: "HelveticaRegular";
    src: url(/build/fonts/HelveticaRegular.eot);
    src: url(/build/fonts/HelveticaRegular.eot?#iefix)format("embedded-opentype"),
    url(/build/fonts/HelveticaRegular.woff) format("woff"),
    url(/build/fonts/HelveticaRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "HelveticaBold";
    src: url(/build/fonts/HelveticaBold.eot);
    src: url(/build/fonts/HelveticaBold.eot?#iefix)format("embedded-opentype"),
    url(/build/fonts/HelveticaBold.woff) format("woff"),
    url(/build/fonts/HelveticaBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

