@media only screen and (max-width: 321px) {
    header {
        .logo-wrap {
            padding: 10px 10px 0 10px;
        }

        .lada-line {
            p {
                padding: 13px 10px 0 0;
                font-size: 0.9rem;
            }
        }
    }
}
