* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Helvetica;
    font-size: 16px;
    background-color: #fff;
}

.wrapper{
    min-width: 320px;
}

a {
    color: #0057ae;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    span {
        display: block;
    }
}

.center {
    text-align: center;
}

$context: 375;

@media only screen and (max-width: 321px) {
    $context: 320;
}

@media only screen and (max-width: 375px) {
    $context: 375;
}

@media only screen and (max-width: 414px) {
    $context: 414;
}

@function get-vw($target, $context) {
    $vw-context: ($context*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 17px 15px 15px;
    background-color: #ed6c21;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;

    &:hover,
    &:focus {
        background-color: #edb321;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}

.mb {
    margin-bottom: 30px;
}

.c_orange {
    color: #ed6c21;
}

#panel {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    ul {
        background-color: #f7f6f6;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;

        li {
            text-align: center;
            margin: 0 15px;

            & > div {
                width: 47px;
                height: 47px;
                display: block;
                border-radius: 40px;
                border: 1px solid #d6d6d6;
                margin: 0 auto 5px;
            }

            & > span {
                text-transform: uppercase;
                font-size: 14px;
            }

            & > div {
                width: 47px;
                height: 47px;
                display: block;
                margin: 0 auto 3px;
            }

            & > span {
                text-transform: uppercase;
                font-size: 12px;
                color: #001746;
            }

        }
    }

    .menu {
        background: #fff url(/build/images/panel/menu.png) no-repeat center center;
        background-size: 60%;
    }

    .call {
        background: #fff url(/build/images/panel/call.png) no-repeat center center;
        background-size: 60%;
    }

    .route {
        background: #fff url(/build/images/panel/route.png) no-repeat center center;
        background-size: 60%;
    }
}

#panel_2 {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top: 1px solid #b2b2b2;
    ul {
        background-color: #f7f6f6;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 6px 25px 5px;

        li {
            text-align: center;
            margin: 0 15px;

            & > div {
                width: 25px;
                height: 25px;
                display: block;
                margin: 0 auto;
            }

            & > span {
                font-size: 12px;
                color: #001746;
            }

        }
    }

    .menu {
        background: transparent url(/build/images/icons/menu_1.svg) no-repeat center center;
        background-size: 90%;
    }

    .call {
        background: transparent url(/build/images/icons/call_2.svg) no-repeat center center;
    }

    .route {
        background: transparent url(/build/images/icons/map_2.svg) no-repeat center center;
    }
}

#panel_3 {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top: 1px solid #b2b2b2;
    ul {
        background-color: #f7f6f6;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 6px 25px 5px;

        li {
            text-align: center;
            margin: 0 15px;

            & > div {
                width: 25px;
                height: 25px;
                display: block;
                margin: 0 auto 3px;
            }

            & > span {
                font-size: 12px;
                color: #001746;
            }

        }
    }

    .menu {
        background: transparent url(/build/images/icons/menu_1.svg) no-repeat center center;
        background-size: 90%;
    }

    .call {
        background: transparent url(/build/images/icons/call_1.svg) no-repeat center center;
    }

    .route {
        background: transparent url(/build/images/icons/map_1.svg) no-repeat center center;
    }
}

.container {
    overflow: hidden;
}

.pointers_wrap {
    position: relative;
    overflow: hidden;
    background-color: #000;
    height: 211px;

    &#pointer_1 {
        height: 211px;
    }

    &#pointer_2 {
        height: 236px;
    }

    &#pointer_3 {
        height: 238px;
    }


    .pointers-1,
    .pointers-2,
    .pointers-3 {
        width: 100%;
        height: 100%;

        & > li span {
            -webkit-transition: box-shadow ease-out .4s, opacity .1s ease-out .2s;
            -moz-transition: box-shadow ease-out .4s, opacity .1s ease-out .2s;
            -o-transition: box-shadow ease-out .4s, opacity .1s ease-out .2s;
            transition: box-shadow ease-out .4s, opacity .1s ease-out .2s;

            &.is_opacity {
                opacity: 0;
                box-shadow: 0 0 0 0 rgba(237, 155, 33, 0.4);
            }
        }

        & > li .pointer {
            cursor: pointer;
            position: absolute;
            color: #fff;
            font-size: 32px;
            z-index: 3;
            width: 30px;
            height: 30px;
            background-color: rgba(237, 155, 33, 0.8);
            display: flex;
            justify-content: center;
            -webkit-box-pack: center;
            align-items: center;
            -webkit-box-align: center;
            border-radius: 50px;
            box-shadow: 0 0 0 7px rgba(237, 155, 33, 0.4);

            &:after,
            &:before {
                content: '';
                width: 14px;
                height: 2px;
                background-color: #fff;
                display: block;
                position: absolute;
            }

            &:after {
                transform: rotate(0deg);
                left: 8px;
            }

            &:before {
                transform: rotate(-90deg);
                top: 14px;
            }
        }
    }

    .block {
        h2 {
            text-align: center;
            margin-bottom: 20px;
            line-height: 1.3;
        }

        p {
            line-height: 1.4;
            margin-bottom: 40px;
        }

        &-text {
            padding: 30px 30px 0;

            p.note_1 {
                margin-bottom: 20px;
                text-align: center;
            }
        }

        &-aside,
        &-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
        }

        &-img {
            transition: transform ease-in 0.6s;
            img {
                width: 100%;
            }

            &.show {
                transform: scale(3);
            }
        }

        &-aside {
            touch-action: pan-y;
            user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            left: 110%;
            width: 100%;
            -webkit-transition: all ease-in 0.45s;
            -moz-transition: all ease-in 0.45s;
            -o-transition: all ease-in 0.45s;
            transition: all ease-in 0.45s;
            z-index: 10;

            .aside_wrap {
                width: 100%;
                height: 100%;
                position: relative;
                padding: 20px 30px;
                .aside_text {
                    color: #fff;
                }

                .close {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 20px;
                    height: 20px;
                    color: #fff;
                    font-weight: bold;
                    padding: 12px;
                    box-sizing: content-box;
                    border-radius: 20px;

                    &:after,
                    &:before {
                        content: '';
                        width: 25px;
                        height: 2px;
                        background-color: #fff;
                        display: block;
                        position: absolute;
                    }

                    &:before {
                        transform: rotate(-45deg);
                        top: 20px;
                        left: 10px;
                    }

                    &:after {
                        transform: rotate(45deg);
                        left: 10px;
                        top: 20px;
                    }
                }
            }

            &.show {
                left: 0;
            }
        }
    }


    .pointers-1 {
        .p1 {
            left: get-vw(50px, $context);
            top: get-vw(60px, $context);
        }

        .p2 {
            left: get-vw(102px, $context);
            top: get-vw(82px, $context);
        }

        .p3 {
            left: get-vw(206px, $context);
            top: get-vw(40px, $context);
        }

        .p4 {
            left: get-vw(308px, $context);
            top: get-vw(59px, $context);
        }

        .p5 {
            left: get-vw(198px, $context);
            top: get-vw(128px, $context);
        }
    }

    .pointers-2 {
        .p1 {
            left: get-vw(103px, $context);
            top: get-vw(75px, $context);
        }

        .p2 {
            left: get-vw(175px, $context);
            top: get-vw(29px, $context);
        }

        .p3 {
            left: get-vw(60px, $context);
            top: get-vw(174px, $context);
        }

        .p4 {
            left: get-vw(284px, $context);
            top: get-vw(156px, $context);
        }

        .p5 {
            left: get-vw(152px, $context);
            top: get-vw(156px, $context);
        }
    }

    .pointers-3 {
        .p1 {
            left: get-vw(156px, $context);
            top: get-vw(25px, $context);
        }

        .p2 {
            left: get-vw(211px, $context);
            top: get-vw(50px, $context);
        }

        .p3 {
            left: get-vw(22px, $context);
            top: get-vw(160px, $context);
        }

        .p4 {
            left: get-vw(332px, $context);
            top: get-vw(60px, $context);
        }

        .p5 {
            left: get-vw(251px, $context);
            top: get-vw(105px, $context);
        }

        .p6 {
            left: get-vw(319px, $context);
            top: get-vw(129px, $context);
        }
    }

    @media only screen and (max-width: 321px) {

        h2 {
            font-size: 21px;
        }

        .block {
            h2 {
                margin-bottom: 16px;
                line-height: 1.2;
            }

            p {
                line-height: 1.3;
                margin-bottom: 35px;
            }

            &-text {
                padding: 25px 25px 0;
                font-size: 15px;
                p.note_1 {
                    margin-bottom: 15px;
                    text-align: center;
                }
            }
        }
    }
}


.change-color {
    background-color: #000;
    h2 {
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
    }

    .car-color {
        position: relative;
        text-align: center;
        img {
            width: 80vw;
            margin: 0 auto;
            position: relative;
        }

        .backlight {
            background: rgb(255,255,255);
            background: radial-gradient(ellipse, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0) 72%);
            width: 100vw;
            height: get-vw(200px, $context);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }

    .palette {
        padding: 30px 50px 40px;

        .color-name {
            color: #fff;
            margin: 0 0 15px;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            height: get-vw(140px, $context);
            li {
                width: 25%;

                &.active div {
                    box-shadow: none;
                    border: 2px solid #fff;
                }

                &.active div.color-white-cloud {
                    border: 2px solid #b5b5b5;
                }

                &>div {
                    box-shadow: 0 0 5px 1px rgba(255,255,255,0.8);
                }

                .circle {
                    border-radius: 100px;
                    width: get-vw(60px, $context);
                    height: get-vw(60px, $context);
                    margin: 0 auto;
                }

                .color- {
                    &blue-planet {
                        background-color: #0057ae;
                    }

                    &cornelian {
                        background-color: #860e0c;
                    }

                    &white-cloud {
                        background-color: #fefaf4;
                    }

                    &panther {
                        background-color: #161313;
                    }

                    &riesling {
                        background-color: #b4b2ae;
                    }

                    &techno {
                        background-color: #aea297;
                    }

                    &borneo {
                        background-color: #98a5ac;
                    }

                    &coriander {
                        background-color: #857d7a;
                    }
                }
            }
        }
    }
}

form {
    margin-bottom: 60px;
    &>* {
        margin: 0 auto;
        display: block;
        outline: none;
        width: 82vw;
        -webkit-transition: all ease-out 0.1s;
        -moz-transition: all ease-out 0.1s;
        -o-transition: all ease-out 0.1s;
        transition: all ease-out 0.1s;
    }

    input {
        border: 2px solid #bdc3c7;
        color: #000;
        border-radius: 8px;
        margin-bottom: 15px;
        padding: 10px 12px;
        box-shadow: none;
        font-size: 15px;


        &:active, {
            border-color: #5fbd89;
        }
        &:focus {
            border-color: #5fbd89;
            box-shadow: none;
        }
    }

    button {
        color: #fff;
        font-weight: bold;
        background-color: #ed6c21;
        text-transform: uppercase;
        border: none;
        border-radius: 6px;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.3px;

        &:active {
            background-color: #edb321;
        }

        &:active,
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
        }
    }
}

.opinions {
    margin-bottom: 45px;

    ul {
        margin-bottom: 15px;
        li {
            width: 375px;
            display: inline-block;

            blockquote {
                margin: 0 30px;

                p {
                    &::after,
                    &::before {
                        content: '"';
                    }
                }

                footer {
                    text-align: right;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .hooper-pagination {
        top: 260px;

        .hooper-indicator:hover, .hooper-indicator.is-active {
            background-color: #666;
            border-color: #666;
        }

        ol {
            li {
                .hooper-indicator {
                    width: 7px;
                    height: 7px;
                    border:1px solid #ccc;
                    background-color: #ccc;
                    border-radius: 6px;
                    margin: 0 4px;
                    -webkit-transition: all ease-out 0.3s;
                    -moz-transition: all ease-out 0.3s;
                    -o-transition: all ease-out 0.3s;
                    transition: all ease-out 0.3s;
                }
            }
        }
    }
}

.main-screen-wrap .hooper-pagination {
    top: 65vh;

    .hooper-indicator:hover, .hooper-indicator.is-active {
        background-color: #666;
        border-color: #fff;
    }

    .hooper-indicator {
        width: 8px;
        height: 8px;
        border: 2px solid #fff;
        background-color: #fff;
        border-radius: 8px;
        margin: 0 4px;
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
    }
}

.trigger-wrap {
    margin: 30px 0;
    p {
        width: 80vw;
        display: block;
        margin: 0 auto;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            border: 5px solid #ed6c21;
            position: absolute;
            top:-10px;
            height: 110%;
            width: 10px;
        }

        &::before {
            border-right: none;
            left: -25px;
        }
        &::after {
            border-left: none;
            right: -25px;
        }
    }
}

.photo_block {
    overflow: hidden;
    div {
        float: left;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        &.feedback_01,
        &.feedback_02 {
            height: 170px;
        }

        &.feedback_01 {
            width: 40%;
        }

        &.feedback_02 {
            width: 60%;
        }

        &.feedback_03 {
            width: 100%;
            height: 200px;
        }

        & > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.next_action {
    color: #fff;
    background-color: #0e0e0e;
    text-align: center;
    ul {
        padding-top: 5px;
        padding-bottom: 20px;
        li {
            margin-bottom: 25px;
            a {
                width: 80vw;
            }
        }
    }
}

footer {
    padding-bottom: 87px;
    .phone {
        border-bottom: 2px solid #b0c5dc;
        margin-bottom: -2px;
    }
}

#form_test-drive {
    margin-bottom: 120px;
}

@keyframes animationDetails {
    0% {
        bottom: -15px;
    }
    50% {
        bottom: -18px;
    }
    100% {
        bottom: -15px;
    }
}


@keyframes slidein {
    from {
        //transform: translateX(150%);
        left: 150%;
    }

    to {
        left: 0;
        //transform: translateX(0%);
    }
}

.buy-step-circle {
    border-radius: 50%;
    border: solid 1px #606060;
    width: 50px;
    height: 50px;
}

.buy-step-circle-colored {
    border-radius: 50%;
    border: 1px;
    width: 50px;
    height: 50px;
    background-color: #ff8351;
    color: #000000;
}

.buy-step-number {
    padding-left: 20px;
    font-size: 20px;
}

.buy-step-text {
    padding-top: 20%;
    font-size: 8px;
    display: block;
    width: 10%;
    color: #000000;
    text-align: center;
    position: absolute;
}

.buy-steps-wrapper {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.car-pictures-wrapper {
    margin: 15px;
    display: flex;
    justify-content: space-between;

    div {
        width: 20%;

        & > img {
            width: 100%;
        }
    }
}

.divided {
    display: flex;
    align-items: center;
}

.divider {
    flex-grow: 1;
    opacity: 50%;
    border-bottom: 1.5px solid #606060;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.model-choose-text {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #606060;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px
}

.model-price-text {
    margin: 10%;
    text-align: center;
    font-size: 26px;
    color: #606060;
    font-weight: bold;
}

.model-count-text {
    font-size: 20px;
    color: #ee6723
}

.credit-price-text {
    margin: 5%;
    text-align: center;
    font-size: 22px;
    color: #606060;
}

.option-text {
    margin: 10%;
    padding-top: 10%;
    text-align: center;
    font-size: 18px;
    color: #606060;
}

.trigger-wrap-text {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 14px;
    text-align: center;
    line-height: 1.6
}

.button-wrapper {
    margin: 10%;
}

.hollow-button {
    color: #606060;
    background-color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px 13px;
    text-align: center;
    border: #606060 solid 1px;
    margin-bottom: 1%;
    font-size: 12px;

    a {
        color: #606060;
        font-weight: normal;
    }
}

.hollow-button-recolored:focus {
    background-color: #92d36e;

    a {
        color: #000000;
        font-weight: bold;
    }
}

.progressbar-wrapper{
    border: #0e0e0e;
    border-top: #606060 1px solid;
    border-bottom: #606060 1px solid;
    display: flex;
    justify-content: stretch;

    .progressbar-section {
        border-radius: 0;
        width: 33%;
        height: 50px;
    }

    .progressbar-section-colored {
        border-radius: 0;
        width: 33%;
        height: 50px;
        background-color: #92d36e;
    }

    .progressbar-text {
        margin: 1%;
        text-align: center;
        vertical-align: center;
        padding-top: 5%;
        font-size: 10px;
        color: #0e0e0e;
    }
}

.meter {
    height: 20px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.advantages {
    padding: 80px 30px 100px;

    h1 {
        font-size: 28px;
        font-weight: bold;
        line-height: 34px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
        line-height: 20px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 45%;
            margin-bottom: 30px;

            .advantage {
                .value {
                    display: block;
                    font-size: 36px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                .text {
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }

            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 4px solid #ff8351;
            }
        }
    }
}

.models_wrap {
    padding: 80px 0 100px;
    background-color: #000;
    h2 {
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        line-height: 34px;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        padding: 0 20px;
        li {
            width: 100%;
            display: flex;
            justify-content: left;
            flex-wrap: nowrap;
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            align-items: center;

            a {
                display: flex;
                align-items: center;

                .img_wrap {
                    width: 47%;

                    img {
                        width: 100%;
                    }
                }

                .title {
                    color: #fff;
                    font-size: 22px;
                    text-transform: uppercase;
                    position: relative;
                    width: 48%;
                    padding-left: 15px;
                    font-weight: normal;

                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border: 2px solid #606060;
                        right: 0;
                        top: 0;
                        border-left: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.buttons_other {
    .item-buttons-other {
        margin: 40px 0 80px;
        text-align: center;

        & > a {
            margin-bottom: 15px;
        }

        .btn {
            width: 85vw;
            border-radius: 50px;
            padding: 14px 15px 10px;
        }

        .btn-primary {
            border: 2px solid #000;
            color: #fff;
            background-color: #000;
        }

        .btn-secondary {
            border: 2px solid #000;
            color: #000;
            background-color: transparent;
        }
    }
}
