/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  background-color: #fff;
}

a {
  color: #0057ae;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
}

h2 span {
  display: block;
}

.center {
  text-align: center;
}

.btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 15px 15px;
  background-color: #ed6c21;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: #edb321;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mb {
  margin-bottom: 30px;
}

.c_orange {
  color: #ed6c21;
}

#panel {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#panel ul {
  background-color: #f7f6f6;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

#panel ul li {
  text-align: center;
  margin: 0 15px;
}

#panel ul li > div {
  width: 47px;
  height: 47px;
  display: block;
  border-radius: 40px;
  border: 1px solid #d6d6d6;
  margin: 0 auto 5px;
}

#panel ul li > span {
  text-transform: uppercase;
  font-size: 14px;
}

#panel .menu {
  background: #fff url(/images/menu.png?73f3d81d24edc19629790876498c0b13) no-repeat center center;
  background-size: 60%;
}

#panel .call {
  background: #fff url(/images/call.png?43a9d16b59f08cb11b2469bd09a757cc) no-repeat center center;
  background-size: 60%;
}

#panel .route {
  background: #fff url(/images/route.png?a5ae3959a235658900eb7cbf7f889cf6) no-repeat center center;
  background-size: 60%;
}

.container {
  overflow: hidden;
}

.pointers-1 > li {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  z-index: 3;
}

.pointers-1 > li:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  display: block;
  border-radius: 50px;
  background-color: #ed6c21;
  opacity: 0.7;
  z-index: -1;
  left: -14px;
  top: -23px;
}

.pointers-1 .p1 {
  left: 120px;
  top: 95px;
}

.pointers-1 .p2 {
  left: 166px;
  top: 124px;
}

.pointers-1 .p3 {
  left: 233px;
  top: 85px;
}

.pointers-1 .p4 {
  left: 300px;
  top: 106px;
}

.pointers-1 .p5 {
  left: 235px;
  top: 156px;
}

.pointers-2 > li {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  z-index: 3;
}

.pointers-2 > li:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  display: block;
  border-radius: 50px;
  background-color: #ed6c21;
  opacity: 0.7;
  z-index: -1;
  left: -14px;
  top: -23px;
}

.pointers-2 .p1 {
  left: 103px;
  top: 75px;
}

.pointers-2 .p2 {
  left: 175px;
  top: 29px;
}

.pointers-2 .p3 {
  left: 60px;
  top: 174px;
}

.pointers-2 .p4 {
  left: 284px;
  top: 156px;
}

.pointers-2 .p5 {
  left: 152px;
  top: 156px;
}

.pointers-3 > li {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  z-index: 3;
}

.pointers-3 > li:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  display: block;
  border-radius: 50px;
  background-color: #ed6c21;
  opacity: 0.7;
  z-index: -1;
  left: -14px;
  top: -23px;
}

.pointers-3 .p1 {
  left: 156px;
  top: 25px;
}

.pointers-3 .p2 {
  left: 211px;
  top: 50px;
}

.pointers-3 .p3 {
  left: 22px;
  top: 160px;
}

.pointers-3 .p4 {
  left: 332px;
  top: 60px;
}

.pointers-3 .p5 {
  left: 251px;
  top: 105px;
}

.pointers-3 .p6 {
  left: 319px;
  top: 129px;
}

header .logo-wrap {
  padding: 15px 15px 0 15px;
}

header .logo-wrap .logo-bright-park {
  background: url(/images/logo_bright_park.svg?f384f193c2eafd42e522c0cb0f9be7e5) no-repeat left;
  width: 49%;
  height: 25px;
  background-size: 100%;
  display: inline-block;
}

header .logo-wrap .logo-lada {
  background: url(/images/logo_lada.svg?00a01feacccaab91834be7aabcb34949) no-repeat right;
  width: 49%;
  height: 25px;
  background-size: 40%;
  display: inline-block;
}

header .lada-line {
  background: url(/images/lada_line.svg?15ddc5864c9b83e60cd41f59292a5bf7) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 101%;
}

header .lada-line p {
  padding-top: 15px;
  padding-right: 15px;
  text-align: right;
  font-weight: bold;
}

.change-color {
  background-color: #000;
}

.change-color h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.change-color .car-color {
  position: relative;
  text-align: center;
}

.change-color .car-color img {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.change-color .car-color .backlight {
  background: white;
  background: radial-gradient(ellipse, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0) 72%);
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.change-color .palette {
  padding: 30px 50px 40px;
}

.change-color .palette .color-name {
  color: #fff;
  margin: 0 0 15px;
}

.change-color .palette ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  align-content: space-between;
  height: 140px;
}

.change-color .palette ul li.active div {
  box-shadow: none;
  border: 2px solid #fff;
}

.change-color .palette ul li > div {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
}

.change-color .palette ul li .circle {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.change-color .palette ul li .color-blue-planet {
  background-color: #0057ae;
}

.change-color .palette ul li .color-cornelian {
  background-color: #860e0c;
}

.change-color .palette ul li .color-white-cloud {
  background-color: #fefaf4;
}

.change-color .palette ul li .color-panther {
  background-color: #161313;
}

.change-color .palette ul li .color-riesling {
  background-color: #b4b2ae;
}

.change-color .palette ul li .color-techno {
  background-color: #aea297;
}

.change-color .palette ul li .color-borneo {
  background-color: #98a5ac;
}

.change-color .palette ul li .color-coriander {
  background-color: #857d7a;
}

form {
  margin-bottom: 60px;
}

form > * {
  margin: 0 auto;
  display: block;
  outline: none;
}

form input {
  border: 1px solid #ccc;
  color: #000;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

form input:active {
  border-color: #0467ff;
}

form input:focus {
  border-color: #0057ae;
}

form button {
  color: #fff;
  font-weight: bold;
  background-color: #ed6c21;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
}

.opinions {
  width: 2660px;
  margin-bottom: 30px;
}

.opinions ul.opinion-slider {
  margin-bottom: 15px;
}

.opinions ul.opinion-slider li {
  width: 375px;
  display: inline-block;
}

.opinions ul.opinion-slider li blockquote {
  margin: 0 30px;
}

.opinions ul.opinion-slider li blockquote p::after,
.opinions ul.opinion-slider li blockquote p::before {
  content: '"';
}

.opinions ul.opinion-slider li blockquote footer {
  text-align: right;
}

.opinions .opinion-numbers ul {
  width: 100vw;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 90px;
}

.opinions .opinion-numbers ul li.active span {
  background-color: #666;
}

.opinions .opinion-numbers ul li span {
  display: block;
  background-color: #fff;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.trigger-wrap {
  margin: 30px 0;
}

.trigger-wrap p {
  width: 80vw;
  display: block;
  margin: 0 auto;
  position: relative;
}

.trigger-wrap p::before,
.trigger-wrap p::after {
  content: "";
  display: block;
  border: 5px solid #ed6c21;
  position: absolute;
  top: -10px;
  height: 110%;
  width: 10px;
}

.trigger-wrap p::before {
  border-right: none;
  left: -25px;
}

.trigger-wrap p::after {
  border-left: none;
  right: -25px;
}

.photo_block {
  overflow: hidden;
}

.photo_block div {
  float: left;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.photo_block div.feedback_01,
.photo_block div.feedback_02 {
  height: 170px;
}

.photo_block div.feedback_01 {
  width: 40%;
}

.photo_block div.feedback_02 {
  width: 60%;
}

.photo_block div.feedback_03 {
  width: 100%;
  height: 200px;
}

.photo_block div > img {
  width: 100%;
}

.next_action {
  color: #fff;
  background-color: #0e0e0e;
  text-align: center;
}

.next_action ul {
  padding-top: 5px;
  padding-bottom: 20px;
}

.next_action ul li {
  margin-bottom: 25px;
}

.next_action ul li a {
  width: 80vw;
}

footer {
  padding-bottom: 87px;
}

footer .phone {
  border-bottom: 2px solid #b0c5dc;
  margin-bottom: -2px;
}

#form_test-drive {
  margin-bottom: 120px;
}

@-webkit-keyframes animationDetails {
  0% {
    bottom: -15px;
  }

  50% {
    bottom: -18px;
  }

  100% {
    bottom: -15px;
  }
}

@keyframes animationDetails {
  0% {
    bottom: -15px;
  }

  50% {
    bottom: -18px;
  }

  100% {
    bottom: -15px;
  }
}

